body {
  h3 {
    font-family: 'Permanent Marker', cursive !important;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }

  #albumcards {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #1b1c1d
  }

  #videoMessage {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
#videoMessage *{
    padding:0.4em;
    margin:0
}
#videoMessage {
    text-shadow: 2px 2px 2px #000000;
    color:white;
    z-index:99 ;
    align-content: center;
    font-family: 'Orbitron', sans-serif;

}

#videoBlock {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

#videoDiv {
    display:flex;
    align-items: center;
    justify-content: center;
}

#video {
  min-width: 100%;
  min-height: 100%;
}

#videoSegment {
  overflow: hidden;
}

.itemcard {
  height:200px
}

.containerDivForCartItem {
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;

}

.cartSectionWrapper {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  width: 60%;

}

.itemCardWrapper {
  display:flex;


}

#checkoutButtons {
width:40%;
display:flex;
flex-direction: column;
align-content: center;
padding-top: 3em;
padding-right: 3em;
}

#searchIcon {
  align-self: flex-end;
  margin-bottom: .5em;
margin-left: 1em;
}
#filter {
  margin-bottom: -1.1em;
  margin-top: -.7em;
  display: flex;
  justify-content: center;
}
}

.login-form > body > div,
.login-form > body > div > div,
.login-form > body > div > div > div.login-form {
  height: 100%;
}
.login-form,
.backgroundcolor {
  background-color: #1b1c1d
}
